<div class="modal-body">
    <div *ngIf="loading">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="error">
        <span class="text-danger"><strong>{{ error }}</strong></span>
    </div>
    <div *ngIf="!error">
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button class="p-1" value="0" (click)="showFormOption(0)" checked>Choose existing email</mat-radio-button>
            <mat-radio-button class="p-1" value="1" (click)="showFormOption(1)">Add a new email</mat-radio-button>
          </mat-radio-group>
          <br>
        <form *ngIf="showFormBool">
            <mat-form-field appearance="fill" [color]="'accent'">
                <mat-label>Choose an existing email</mat-label>
                <select matNativeControl required>
                  <option *ngFor="let email of userEmails" [value]="email">{{ email.email }}</option>
                </select>
              </mat-form-field>
        </form>
        <form *ngIf="!showFormBool">
            <mat-form-field appearance="standard" [color]="'accent'" class="p-1">
                <mat-label>Email</mat-label>
                <input
                    matInput
                    class="mat-custom-width"
                    id="email"
                    type="email"
                    formControlName="email"
                    placeholder="example@company.com"
                    >
            </mat-form-field>
            <mat-form-field appearance="standard" [color]="'accent'" class="p-1">
                <mat-label>Confirm Email</mat-label>
                <input
                    matInput
                    class="mat-custom-width"
                    id="confirmEmail"
                    type="email"
                    formControlName="confirmEmail"
                    placeholder="example@company.com"
                    >
            </mat-form-field>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark">Save</button>
      </div>
    </div>

