.sidebar-container {
    width: 200px;
    height: 100%;
}

.sidebar-link-active {
    background-color: #c6c6c6;
    box-shadow: 2px 2px 2px #e3e3e3;
    border-radius: 3px;
}

.drawer-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}