<nav class="nav flex-column">
    <div class="nav-item p-2">
        <a [ngClass]="{ 'sidebar-link-active' : page == 1  }" class="nav-link" aria-current="page" href="/home" (click)="setPage(1)">Home</a>
    </div>
    <div class="nav-item p-2">
        <a [ngClass]="{ 'sidebar-link-active' : page == 2 }" class="nav-link" aria-current="page" href="/home" (click)="setPage(2)">Group</a>
    </div>
    <div class="nav-item p-2">
        <a [ngClass]="{ 'sidebar-link-active' : page == 3 }" class="nav-link" aria-current="page" href="/profile" (click)="setPage(3)">Profile</a>
    </div>
</nav>
