<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu">
            <br>
            <ul class="nav navbar-nav">
                <li class="sidebar-menu-spacing">
                    <a class="active" href="/home">
                        <mat-icon>home</mat-icon>
                    Dashboard
                    </a>
                </li>
                <li class="sidebar-menu-spacing">
                    <a class="active" href="/home">
                        <mat-icon>favorite</mat-icon>
                    Group
                    </a>
                </li>
                <li class="sidebar-menu-spacing">
                    <a class="active" href="/profile">
                        <mat-icon>menu</mat-icon>
                    Profile
                    </a>
                </li>
                <!-- <li class="sidebar-menu-spacing">
                    <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
                </li> -->
            </ul>
        </div>
    </nav>
</aside>
