<div class="container p-4">
    <div class="d-flex justify-content-center">
        <div class="card shadow w-50 align-items-center">
            <div class="d-flex justify-content-center login-header-bar rounded">
                <h3 class="card-title">CAEBO Secure Login</h3>
            </div>
            <div class="card-body w-75">
                <form [formGroup]='loginForm' (ngSubmit)="onSubmit()">
                    <mat-form-field appearance="standard" [color]="'accent'">
                        <mat-label>Email</mat-label>
                        <input
                            matInput
                            class="mat-custom-width"
                            id="email"
                            type="email"
                            formControlName="email"
                            placeholder="example@company.com"
                            [disabled]="submitting"
                            >
                    </mat-form-field>
                    <div *ngIf="loginForm.invalid && (loginForm.dirty || loginForm.touched)" class="text-danger">
                        <div *ngIf="f.email.errors?.required">
                            Please enter an email address.
                        </div>
                        <div *ngIf="f.email.errors?.email">
                            Please enter a valid email address.
                        </div>
                    </div>
                    
                    <mat-form-field appearance="standard" [color]="'accent'">
                        <mat-label>Password</mat-label>
                        <input
                            matInput
                            id="password"
                            type="password"
                            formControlName="password"
                            placeholder="xxxxxxxxxxxx"
                            [disabled]="submitting"
                            >
                    </mat-form-field>
                    <br>
                    <div class="row">
                        <div class="col md-1">
                            <button mat-raised-button color="'accent'" type="submit" [disabled]="submitting || loginForm.invalid">
                                <span *ngIf="!submitting">{{ submitting ? 'Logging in' : 'Log in' }}</span>
                                <mat-spinner *ngIf="submitting" aria-label="submitting" color="primary" [diameter]="30"></mat-spinner>
                            </button>
                        </div>
                        <div class="p-2">
                            <span>No account? <a href="/register">Sign up!</a></span>
                        </div>
                    </div>
                </form>
                <div class="d-flex justify-content-center">
                    <span *ngIf="message" class="text-danger">{{ message }}</span>
                    <span *ngIf="successMessage" class="text-success">{{ successMessage }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
