<div class="container">
    <div class="d-flex justify-content-center">
        <div class="card shadow w-50 align-items-center">
            <div class="card-body w-75">
                <h3 class="card-title">CAEBO Secure Login</h3>
                <hr>
                <form>
                    <label for="email" class="form-label">Email Address</label>
                    <input type="email" class="form-control" placeholder="example@company.com" autofocus>
                    <br>
                    <label for="pass" class="form-label">Password</label>
                    <input type="password" class="form-control" placeholder="xxxxxxxxxxxx">
                    <br>
                    <input type="submit" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</div>
